<div id="news" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-6">
    {% for item in news %}
    <div class="bg-gray-800 rounded-xl shadow-lg overflow-hidden hover:shadow-xl transition">
        <a href="{{ item.link }}" target="_blank">
            <img src="{{ item.media_thumbnail or '/static/img/default-thumb.jpg' }}"
                alt="Thumbnail"
                class="w-full h-40 object-cover">
            <div class="p-4">
                <h2 class="text-[12px] font-semibold text-gray-300 hover:text-white hover:underline mb-2 leading-tight">
                    {{ item.title[:100] | safe }}...
                </h2>
                <p class="text-sm text-gray-400 mb-2">{{ item.pubDate }}</p>
                <p class="text-sm text-gray-300">
                    {{ item.description[:100] | safe }}...
                </p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
