<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ feed.title }}</title>
</head>
<body>
 
    <h2>{{ items[0].feed_info.title }}</h2>  <!-- Access feed_info from the first item -->
    <img src="{{ items[0].feed_info.image }}" alt="Feed Image">
    
    <ul>
    {% for item in items %}
        <li>
            <a href="{{ item.link }}">{{ item.title }}</a><br>
            <img src="{{ item.media_thumbnail }}" width="200"><br>
            {{ item.description | safe }}
        </li>
    {% endfor %}
    </ul>
    
    
    
    <a href="/feeds">Back to feeds list</a>
</body>
</html>
